<h1>Business <%= @business.name %> in section %= @section.name %</h1>


<h1><%= @business.name %></h1>
<h4><%= @business.address %></h4>
<h4><%= @business.phone %></h4>
<h4><%= @business.website %></h4>
